@use "global" as *;

.results {
    
background: #F3F3F3;

@include mq(md) {
    padding-left: rem(40);
}
}

.results__inner {
padding-bottom: rem(40);

@include mq(md) {
    padding-bottom: rem(60);
}
}

.results__inner__inner {


    @include mq(md) {
        padding-left: rem(60);
    }
    
}

.results__box__layout {
   padding-left: rem(4.8);

   @include mq(md) {
   padding-left: 0;
   }
}

.results__card__layout {
    margin: 0 auto;
}

.br__adjust {
    display: none;

    @include mq(md) {
    
    display: block;
    }
}