@use "global" as *;

.access__top {
    background-color: $font-key-black;
    color: #fff;
    padding-bottom: rem(60);

    @include mq(md) {
    padding: rem(120) rem(40) rem(120) rem(80);
    
    }
}

.section-title__layout.section-title__access {
    text-align: left;
    padding-left: 0;

    @include mq(md) {
        padding-top: 0;
    }
}

.access__content {
    font-size: rem(14);
    line-height: 1.429;
}

.access__map__wrapper {
    margin: rem(24) auto;
    width: 60%;

    @include mq(md) {
    margin: 0;
    }
}

.access__map {
    width: 100%; /* 今回はinnerで幅決めてあるからそのpadd以外分残して100%でOK*/
    max-width: 100%;
}

.iframe-wrap {
    width: 100%;
    padding-top: calc(241 / 343 * 100%); /* 縦241/横343*/
    position: relative;

    @include mq(md) {
        padding-top: calc(520 / 726 * 100%); /* 縦520/横726*/
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.button__general__wrapper_l.button__general__access__wrapper {
    padding: 0;
    margin-top: rem(24);
}

.button__general.button__general__access {
    color: #fff;
    border: solid rem(1) #fff;
letter-spacing: rem(1.8);
padding: rem(16) rem(100);


@include mq(md) {
margin: 0;
}
}