@use "global" as *;

.button__general__wrapper {
    text-align: center;
}

.button__general {
    width: rem(268);
    height: rem(54);
    
    border: 1px solid #707070;

    a {
        color: $font-key-black;
        display: block;
        font-size: rem(18);
        letter-spacing: rem(3.6);
        font-weight: 600;
    }
}