@use "global" as *;

.button__general {
    display: inline-block;
    border: 1px solid #707070;
    margin: 0 auto;
    padding: rem(14) rem(95);
    color: $font-key-black;
        display: block;
        font-size: rem(18);
        letter-spacing: rem(3.6);
        font-weight: 600;

   
}
