@use "global" as *;

.button-wrapper {
    text-align: center;

    @include mq(md) {
    
    text-align: left;
    }

    a {
        display: inline-block;
        color: $font-key-white;
        padding: rem(12) rem(32);
        font-weight: 700;
        background-color: $key-orange;
        border-radius: 10px;
        box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);

        &:hover {
            background-color: #F18900;
        }


        @include mq(md) {
        padding: 1.05rem 3.11rem;
        }
    }

    input[type="submit"] {
        display: inline-block;
        color: $font-key-white;
        padding: 0.8rem rem(50);
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        background-color: #B2B2B2;
        font-weight: 700;
        border-radius: 10px;

        @include mq(md) {
            padding: rem(14) 3.425rem;
        }

        &.js-active {
            background-color: $key-orange;

            &:hover {
                background-color: #F18900;
            }
        }

    }

    
}