@use "global" as *;

.comment__left {
  padding: rem(35.2) rem(19.792) rem(38.08) rem(20);

  @include mq(md) {
    padding: 7.18rem 3.75rem 7.6rem 3.75rem;
    width: 55.5%;
  }
}

.section-title__layout.section-title__comment {
  text-align: left;
  padding: 0;
}

.comment__left__body {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: rem(33.12);

  @include mq(md) {
    margin-top: 3.23rem;

    &:nth-of-type(n + 2) {
      margin-top: 3.55rem;
    }
  }
}

.comment__left__img {
  // padding-top: 100%; これ入れると画像の縦がbodyと同じになり大きくなってしまう
  max-width: 100%;
  // 60/60
  position: relative;
  width: 21%; /*60/280 マージンは上で抜いてる、画像60,テキスト223合わせて280*//*その後ピクパで微調整 */
  margin-top: rem(3.9);

  @include mq(md) {
    width: 19.3%; /*100/514 画像100,テキスト414合わせて514 */
    margin-top: rem(4);
  }

  &::before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  img {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // width: 100%;
    // height: auto;
    // object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.comment__left__text {
  font-size: rem(14);
  line-height: 1.4286; /* 20/14*/
  width: 77.3%; /*100-22.7 */
  margin-left: rem(20);

  @include mq(md) {
    width: 80.6%; /*100/514 画像100,テキスト414合わせて514 */
    font-size: rem(16);
margin-left: 2.01rem;
line-height: 1.5;
  }
}
