@use "global" as *;

.contact {
  background: url(../images/common/contact-bg@2x.png) no-repeat 10%
    center/cover;
}

.contact__form__inner.inner {
  @include mq(md) {
  padding: rem(60) rem(160);
  }
} 


.contact__form__wrapper {
  padding-top: rem(40);
  padding-bottom: rem(40);

  @include mq(md) {
    padding-top: 0;
    padding-bottom: 0;
  }
  
}

.section-title__contact__wrapper {
  background: url(../images/common/contact1@2x-2.png) no-repeat center
    center/cover;
    
  padding: 0 rem(16) rem(40);
  border-radius: rem(12) rem(12) 0 0;
  p {
    color: #fff;
    font-size: rem(14);
    line-height: 1.429;
    margin-top: rem(12);

    @include mq(md) {
    text-align: center;
    font-size: rem(16);
    }
  }
}

.section-title.section-title__contact {
  color: #fff;
  padding-bottom: 0;
}

.contact__form {
  background-color: #fff;
  height: auto;
  padding: rem(40) rem(12);
  border-radius: 0 0 rem(12) rem(12);

  @include mq(md) {
padding: rem(60) rem(120);  
  }
}

.contact__form__input__text {
  
}

.contact__form__row {
  &:nth-child(n + 2) {
    margin-top: rem(32);
  }
}

.contact__form__label {
  color: $font-key-black;
  font-weight: 700;

 

  @include mq(md) {
  width: 23.8%;
  }
}

.contact__form__label__required {
  display: inline-block;
  position: relative;
  padding-right: rem(60);

  &::after {
    content: "必須";
    position: absolute;
    top: 0;
    right: 0;
    font-size: rem(12);
    font-weight: 700;
    color: #fff;
    background-color: $key-red;
    border-radius: rem(2);
    padding: rem(2) rem(8);
    text-align: center;
  }
}

.contact__form__input {
  border-bottom: solid rem(1) #707070;
  margin-top: rem(16);
  width: 100%;

  input {
    width: 100%;
    font-size: rem(14);
  }

  @include mq(md) {
    width: 76.2%;
    margin-top: 0;
  }
}


.contact__form .contact__form__input:hover, input[type="text"]:focus {
  border-bottom: solid rem(1) rgba(73, 115, 255, 1);
  box-shadow: 0 rem(8) rem(8) rem(-5) #4973ff80;
}

.contact__form textarea:hover, textarea:focus {
  border-color: rgba(73, 115, 255, 1);
  box-shadow: 0 0 rem(8) rgba(73, 115, 255, 0.5);
}
  
.contact__form__row__textarea  {
margin-top: rem(32);
  }


.contact__form__input__bordernone {
  border: none;
}

.contact__form__selectwrapper {
  border: solid rem(1) #707070;
  &:hover {
    box-shadow: 0 0 rem(5) rgba(73, 115, 255, 0.5);
    border: none;
    
  }
}



.contact__form__input__select {
border-color: transparent;
  padding: rem(8) rem(12);
  font-size: rem(14);
  width: 100%; 
}

.contact__form__input__select__wrapper {
  position: relative;
width: 33%;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: rem(14);
    transform: translate(-50%, -50%);
    display: block;
    width: rem(10);
    height: rem(10);
    border-bottom: rem(3) solid #000;
    border-right: rem(3) solid #000;
    rotate: (45deg);
  }
}


.contact__form__input__radio {
  margin-top: rem(16);

  @include mq(md) {
  margin-top: 0;
  }
}

.contact__radio {
  &:nth-of-type(n + 2) {
    margin-left: rem(40);
  }
}

.contact__radio__part {
  padding-left: rem(20);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: rem(12);
    height: rem(12);
    border-radius: 50%;
    border: solid rem(1) #707070;

  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
    width: rem(6);
    height: rem(6);
    border-radius: 50%;
    background-color: #3b69ff;
    display: none;
  }

  input[type="radio"]:checked + &::after {
    display: block;
  }

  label:hover &::before {
    border-color: rgba(59, 105, 255, 1); /* この色は希望の色に変更してください */
    box-shadow: 0 0 rem(5) rgba(73, 115, 255, 0.5);
    
    
  }
    
    label:active &::before {
      background-color: rgba(73, 115, 255, 0.2);
      border-color: rgba(73, 115, 255, 1);

  }
}

.contact__form__input__textarea {
  border: solid rem(1) #707070;
  width: 100%;
  height: rem(160);
  margin-top: rem(16);

  @include mq(md) {
    margin-top: rem(8);

  }

  textarea {
    resize: both;
    width: 100%;
    height: inherit;
  }
}


.contact__form__policy {
  font-weight: 700;
  color: $font-key-black;
  margin-top: rem(32);
  padding-left: rem(40);
display: inline-block;
position: relative;
 
.contact__form__privacy__part {


  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: rem(18);
    height: rem(18);
    border: solid rem(1) #707070;
  }

  &::after {
    content: "";
    position: absolute;
    top: 35%;
    left: rem(5);
    transform: translateY(-50%) rotate(45deg);
    width: rem(8);
    height: rem(14);
    border-bottom: solid rem(2) #3b69ff;
    border-right: solid rem(2) #3b69ff;
    display: none;
  }
}

  [type="checkbox"]:checked + span {
    &::after {
      display: block;
  }
  }

  
//   label:hover &::before {
//     border-color: rgba(59, 105, 255, 1); /* この色は希望の色に変更してください */
//   }
    
//     label:active &::before {
//       background-color: rgba(73, 115, 255, 0.2);
//       background-color: rgba(73, 115, 255, 1);

// }
}

.contact__form__privacy:hover .contact__form__privacy__part::before {
  border-color: rgba(59, 105, 255, 1); // this changes the checkbox border color on hover
  box-shadow: 0 0 rem(5) rgba(73, 115, 255, 0.2);
}

.contact__form__privacy:active .contact__form__privacy__part::before {
  background-color: rgba(73, 115, 255, 0.2); // this changes the checkbox background color when clicking
  border-color: rgba(73, 115, 255, 1);       // this changes the checkbox border color when clicking
}



.contact__form__submit__wrap {

}
