@use "global" as *;

.section-main {
  width: 100%;
  height: rem(600);
  top: 0;
  background: url(../images/common/mv@2x.png) no-repeat;
background-size: rem(1280);
background-position: top 90% left 22%;
position: relative;
z-index: 10;

&::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: inherit;
  background-color: rgba($color: $key-gray, $alpha: 0.1);
}


  @include mq(md) {
    display: flex;
    justify-content: end;
    background-position: center center;
    height: rem(643);
    width: 100%;
    max-width: rem(1280);
  }
}

.main-inner {

  @include mq(md) {
    width: 50%;
  }
  
}

.main-title {
  font-size: rem(24);
  font-weight: 700;
  line-height: 1.666;
  padding-top: rem(216);

  @include mq(md) {
  font-size: rem(32);
  line-height: 1.5;
  padding-top: rem(236);
  }
}

.main-subtitle {
  font-size: rem(14);
  font-weight: 700;
  line-height: 1.429;

  @include mq(md) {
    font-size: rem(18);
  line-height: 1.556;
  }
}
