@use "global" as *;

.price {
  padding-bottom: rem(116);
  background-color: $key-gray;

  @include mq(md) {
    padding-top: rem(60);
    padding-bottom: 16.58rem;
  }
  
}

.price__table__wrapper {
  @include mq(md) {
    margin: 0 rem(120);
  }
}

.price__table {
  width: 100%;
  font-size: rem(20);
  font-weight: 600;

  @include mq(md) {
    font-size: rem(24);
  }
}

.price__table 
 table,th,td {

  border: solid rem(1) #707070;
border-spacing: 0 0;
}

.price__table th {
  width: 28.2%;
  @include mq(md) {
  width: 25.2%;
  }
}

.price__table td {
  width: 68%;
  padding: rem(11.424) rem(16.68);

  @include mq(md) {
    padding: rem(16) rem(40);
    padding: 0.64rem rem(40);
  }
}

.price__table__header {
  background-color: $font-key-black;
  color: #fff;
}

.price__table__data {
  background-color: #fff;
  color: $font-key-black;
}

.price__attention {
  font-size: rem(12);
  margin-top: rem(4);

  @include mq(md) {
  margin-top: 0.6rem;
  }
}
