@use "global" as *;

.results__inner__layout {
    background: $font-key-black;
}

.section-title__layout.section-title__results {
    color: #fff;

    @include mq(md) {
        text-align: left;
        padding-left: 0;
    }
}


.button__general__results {
    
    border: 1px solid transparent;

    @include mq(md) {
        margin: 0;
        border: 1px solid #fff;
    }

    a {
        @include mq(md) {
        letter-spacing: 0.31rem;
        }
    }
}

