@use "global" as *;

.results__card {
  width: rem(274.4);

  @include mq(md) {
    width: rem(400);
  }
}

.results__card__image {
  padding-top: 62.4%;
  // 171/274
  position: relative;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    max-width: 100%;
  }
}

.results__card__body {
  color: $font-key-black;
  background: #fff;
  padding: rem(4.8) rem(1.6) rem(6.4) rem(14.4);

  @include mq(md) {
  padding-right: 0;
  padding: rem(4.8) rem(1.6) rem(6.4) 0.97rem;
  }
}

.results__card__title {
  font-size: rem(14);
  font-weight: 700;
  letter-spacing: rem(-0.176);
  margin-top: rem(3.68);

  @include mq(md) {
    font-size: rem(20);
    margin-top: 0.48rem;
    letter-spacing: 0;
  }
}

.results__card__text {
  font-size: rem(12);
  margin-top: rem(5.92);
  line-height: 1.5;
  letter-spacing: rem(0.1);
padding-right: rem(15);
padding-bottom: rem(3);

  @include mq(md) {
    font-size: rem(16);
    letter-spacing: 0;
    padding-bottom: rem(13);

  }
}
