@use "global" as *;

.swiper-slide {
    width: rem(274);

  @include mq(md) {
    width: rem(400);
    max-width: rem(400);
  }
}

.swiper-pagination {
  padding-top: rem(24);
  padding-bottom: rem(22.4);
  position: static;
  text-align: center;

  @include mq(md) {
    padding-top: rem(40);
    padding-bottom: rem(40);
    position: static;
    text-align: left;
  }
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  width: 95%;
}

.swiper-pagination-bullets {
}

.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0;
  margin-left: rem(19.2);
}

.swiper-pagination-bullet {
  width: rem(12);
  height: rem(12);
  background: #fff;
  opacity: 1;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: rem(12);
  height: rem(12);
  background: #fff;
  opacity: 1;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-51%, -50%);
    width: rem(20);
    height: rem(20);
    border: solid rem(1) #fff;
    border-radius: 50%;
  }
}
