@use "global" as *;

.section-title {
font-size: rem(30);
font-weight: 600;
text-align: center;
padding: rem(36.8);
padding-bottom: 2.14rem;

@include mq(md) {
font-size: rem(36);
padding: rem(60);
}
}