@use "global" as *;

.service__cards {
    
    background-color: #ffffff;
    max-width: rem(960);
    height: auto;
    padding: rem(40) rem(16) rem(33.6) rem(16);
    box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);

    @include mq(md) {
    display: flex;
    justify-content: space-between;
    padding: 3.4rem 2.8125rem 3.693rem;
    }
}


.service__card__layout {
    &:nth-child(n + 2) {
        margin-top: rem(51.2);  
      }

      @include mq(md) {

        &:nth-child(n + 2) {
          margin-top: initial;  // 既定のmargin-topをリセット
          margin-top: 0.5rem;

        }

        width: calc((rem(960) - rem(270))/3);
        margin-top: 0.3rem;
      }
    }