@use "global" as *;

.service__cards {
    
    background-color: #ffffff;
    max-width: rem(960);
    height: auto;
    padding: rem(40) rem(16);
    box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);

    @include mq(md) {
    display: flex;
    justify-content: space-between;
    padding: rem(60) rem(45);
    }
}


.service__card__layout {
    &:nth-child(n + 2) {
        margin-top: rem(36.56);
        
      }

      @include mq(md) {
        margin-left: rem(40);
        margin-top: rem(40);
        width: calc(rem(1280) - rem(270));
      }
    }